@import '../styles/base.scss';

:root {
  --color-gray: #8c97b7;
  --color-blue: #1c38f1;
  --color-green: #1fcdb0;
  --input-height: 3rem;
  --transition-duration: 0.3s;
  --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
  --animation-duration: 0.8s;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fbff;
}

.ui-form {
  background: #fff;
  box-shadow: 0 0.5rem 1rem #0003;
  padding: 1rem;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-template-areas: 'input button';

  animation-name: slide-up, shake;
  animation-duration: 3s;

  --color: var(--color-gray);
  &:focus-within {
    --color: var(--color-blue);
  }

  > .ui-input,
  > .ui-button {
    // Add an animation here
  }
}



.ui-input {
  grid-area: input;
  padding: 0 1rem;
  height: var(--input-height);
  border: 2px solid var(--color);
  border-radius: 0.25rem;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-easing);
  animation-name: slide-up;
  animation-duration: 0.8s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  
}

.ui-button {
  grid-area: button;
  border: none;
  padding: 0 1rem;
  color: white;
  font-weight: bold;
  border-radius: 0.25rem;
  height: var(--input-height);
  background-color: var(--color);
  transition: inherit;
  transition: background-color var(--transition-duration) var(--transition-easing);
  animation-name: slide-up;
  animation-duration: 0.8s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  cursor: pointer;
}

[data-show]:not([data-active]) {
  display: none;
}

.ui-form {
  overflow: hidden;
}

@keyframes slide-up {
  from {
    transform: translateY(20vw);
    opacity: 0;
  } 

  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shake {
  from {
    transform: translateX(0);
    animation-delay: 1.5s;
  }
  50% {
    transform: translateX(5vw);
  }
  to {
    transform: translateX(0);
  }
}
